* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

@font-face {
  font-family: "Karla";
  src: url("./fonts/Karla-VariableFont_wght.ttf");
}

body {
  font-family: "Karla", sans-serif;
  background: #0b2434;
  padding: 40px;
}

main {
  background: #f5f5f5;
  border-radius: 5px;
  margin: auto;
  max-width: 800px;
  height: 400px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.title {
  margin: 0%;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #2b283a;
}

.instructions {
  padding: 0% 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin-top: 0;
  letter-spacing: -0.03em;
  color: #4a4e74;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.die-face {
  width: 50px;
  height: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #2b283a;
  background-color: white;
  cursor: pointer;
}

.roll-dice {
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 5px;
  background-color: #5035ff;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
  cursor: pointer;
}

.roll-dice:focus {
  outline: none;
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(255, 255, 255, 0.5);
}
